<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Berrysoft.Console" version="1.0.112-preview2" targetFramework="net472" />
  <package id="Berrysoft.Tsinghua.Net" version="1.0.112-preview2" targetFramework="net472" />
  <package id="System.Json" version="4.5.0" targetFramework="net472" />
</packages>